<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
    <form method="POST" action="/newteam">
      Team Name: <input type="text" name="string">
      Coach: <input type="text" coach="string">
      Point Guard: <input type="text" pg="string">
      Shooting Guard: <input type="text" sg="string">
      Small Forward: <input type="text" sf="string">
      Power Forward: <input type="text" pf="string">
      Center: <input type="text" c="string">
      <input type="submit">
    </form>
  
 </head>
 <body>
 </body>
</html>
