<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
    <form method="POST" action="/newteam">
      Team Name: <input type="text" name="string"><br>
      Coach: <input type="text" coach="string"><br>
      Point Guard: <input type="text" pg="string"><br>
      Shooting Guard: <input type="text" sg="string"><br>
      Small Forward: <input type="text" sf="string"><br>
      Power Forward: <input type="text" pf="string"><br>
      Center: <input type="text" c="string"><br>
      <input type="submit">
    </form>
 </head>
 <body>
 </body>
</html>
